* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(/images/home-background.png);
  background-size: cover;
  font-family: Avernir, sans-serif;
  color: white;
}

.movies {
  padding: 0 50px;
}

a {
  cursor: pointer;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 50px;
  background-color: #090b13;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.logo {
  max-width: 70px;
  max-height: 50px;
}

@media screen and (max-width: 888px) {
  .logo {
    display: none;
  }
  nav {
    display: block;
  }
  .list ul {
    display: flex;
    justify-content: space-between;
  }
}

.list {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.8px;
  padding-top: 10px;
}

.list ul {
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

.list li {
  list-style: none;
  display: flex;
  width: max-content;
}
.list a {
  position: relative;
}
.list a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.list a:hover::before {
  transform: scaleX(1);
}

.list img {
  max-width: 25px;
  max-height: 25px;
}
.list a {
  padding-top: 7px;
}

/* carousel */

.carousel-container {
  padding: 0 50px 0 50px;
  margin-top: 100px;
  position: relative;
}
.carousel-image {
  position: relative;
}
.carousel-image img {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: auto;
  clip-path: circle(0% at 0 50%);
}
.carousel-image img.active {
  clip-path: circle(150% at 0 50%);
}
.carousel-image img:hover {
  border: 3px solid #fff;
  box-shadow: 0 15px 5px -3px #080a12;
}
.dot {
  position: absolute;
  bottom: -20px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.dot span {
  height: 10px;
  width: 10px;
  background-color: #727377;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  padding: 2px;
}

.dot span:hover,
.dot span.active {
  background-color: #dae1cc;
}
/*  5 buttons and videos */

.buttons {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.button {
  border: 3px solid #727377;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 10px 5px -4px #080a12;
  position: relative;
  cursor: pointer;
}

.button img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  /* z-index: 1;
  position: absolute;
  top: 0; */
  opacity: 1;
}
.button video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0;
}
.button video:hover {
  opacity: 1;
}

@media screen and (max-width: 845px) {
  .buttons {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 720px) {
  .buttons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Movies list */
.recommend,
.new,
.originals,
.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin: 20px 0 50px 0;
}

.movies img {
  object-fit: contain;
  width: 100%;
  height: auto;
  border: 3px solid #2b3041;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 10px 5px -4px #080a12;
}

.movies img:hover,
.button:hover {
  border: 3px solid #fff;
  transform: scale(1.08);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 15px 5px -3px #080a12;
}
